.Home {
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  position: absolute;
}

.header-img {
  top: 0;
  width: 100%;
  height: 254px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header-img .wrapper {
  width: 100%;
  max-width: 1110px;
  margin: 0 80px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.header-img .wrapper .text {
  word-wrap: break-word;
  width: 50%;
  z-index: 9;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
}

.bengkel {
  width: 100%;
  background-color: rgb(77, 94, 122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.bengkel .wrapper {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bengkel .top {
  padding: 50px 80px 0;
}

.bengkel .top h1 {
  font-size: 26px;
}

.bengkel .top p {
  font-size: 16px;
}

.bengkel .bottom {
  padding: 50px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.bengkel .bottom .item {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bengkel .bottom .item p {
  margin: 0;
  padding: 0;
}

.bengkel .bottom .item p.angka {
  font-size: 80px;
}

.bengkel .bottom .item p.lokasi {
  font-size: 16px;
}

.agen {
  background: linear-gradient(to right, #83e8eb 0, #569dbc);
  width: 100%;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agen .wrapper {
  padding: 40px 0;
  max-width: 1110px;
  margin: 0 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agen .wrapper .sentence {
  color: #1e3459;
  font-size: 26px;
}

.agen .wrapper .button {
  background-color: #1e3459;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.agen .wrapper .button p {
  color: #fff;
  font-size: 20px;
  margin: 20px 30px;
}

.agen .wrapper .button p:hover {
  color: #6ee0e0;
}
