.Kiasan {
  padding-top: 20px;
  background-color: #1e3459;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

.Kiasan .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1110px;
  margin: 0 80px;
  width: 100%;
}

.Kiasan .wrapper div p {
  font-size: 18;
}

@media (max-width: 768px) {
  .Kiasan .wrapper div p {
    font-size: 12;
  }
}
