.Header {
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
  box-shadow: 0 1px 5px 0 rgba(96, 96, 96, 0.3);
}

.Header.transparent {
  background-color: transparent;
}

.Header .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1110px;
  margin: 0 80px;
}

.Header .wrapper .desktop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header .wrapper .desktop .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Header .wrapper .desktop .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Header .wrapper .desktop .right > div {
  margin-left: 20px;
}

.Header .wrapper .mobile {
  /* background-color: salmon; */
  background-color: #fff;
  top: 80px;
  position: absolute;
  /* width: 100%; */
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  left: 80px;
  right: 80px;
  /* margin: 0 80px; */
  margin: 0;
  padding: 0;
}

.Header .wrapper .mobile ul li {
  list-style-type: none;
  margin: 10px 0;
}

.Header .wrapper .mobile ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.Header .wrapper .desktop a {
  margin: 0 1rem;
}

.Header .wrapper .desktop .router {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Header .wrapper .desktop .router a img {
  height: 40px;
}

.Header .wrapper .desktop .router {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Header .wrapper .desktop .router ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}

.Header .wrapper .desktop .router ul li:not(li:first-child) a:focus {
  border-bottom: 1px solid #81e4e9;
}

.Header .wrapper .desktop .router ul li:not(li:first-child) a:hover {
  color: #81e4e9;
}

.Header .wrapper .desktop .router ul li a {
  color: #1e3559;
  padding: 0 4px 3px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.Header.transparent .wrapper .desktop .router ul li a {
  color: #fff;
  text-shadow: 1px 1px #000;
}

.Header .wrapper .desktop .burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 0.5px solid lightgrey;
  border-radius: 5px;
  cursor: pointer;
}

.Header .wrapper .desktop .burger .bar {
  width: 20px;
  height: 0;
  border: 1px solid grey;
  background-color: grey;
  margin: 2px 5px;
}

@media (max-width: 992px) {
  .Header .wrapper .desktop .router ul li:not(li:first-child) {
    display: none;
  }

  .Header .wrapper .desktop .burger {
    display: flex;
  }
}

@media (max-width: 768px) {
}
