.Header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
}

.Header.transparent {
  background-color: transparent;
}

.Header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  margin: 0 80px;
}

.Header .wrapper a {
  margin: 0 1rem;
}

.Header .wrapper .router {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Header .wrapper .router a img {
  height: 40px;
}

.Header .wrapper .router {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Header .wrapper .router ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}

.Header .wrapper .router ul li a {
  color: #1e3559;
  padding: 0 4px 3px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.Header.transparent .wrapper .router ul li a {
  color: #fff;
  text-shadow: 1px 1px #000;
}
