.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  /* background-color: #fff; */
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
}

.Header .wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1110px;
}

.Header .wrapper a {
  margin: 0 1rem;
}

.Header .wrapper .logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Header .wrapper .logo a img {
  height: 40px;
}

.Header .wrapper .router {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Header .wrapper .router ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: flex-start;
  justify-content: flex-start;
  list-style-type: none;
}

.Header .wrapper .router ul li a {
  padding: 0 4px 3px;
  /* color: #1e3559; */
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
